__pycache__
.env
keys.db
wallet.sqlite3

# Development 
.notes
.*keys.db
.*wallet.sqlite3
*models.json
.cashu

compose.override.yml

# Coverage
.coverage

# Logging
logs/*
!logs/.gitkeep
*.log

# deployment
proof_backups
