__pycache__
.env
keys.db
wallet.sqlite3

# Python build artifacts
*.egg-info/
build/
dist/
*.egg

# Development 
.notes
.*keys.db
.*wallet.sqlite3
*models.json
.cashu
.relay
relay-data
.dockerignore
relay-data

compose.override.yml

# Coverage
.coverage

# Logging
logs/*
!logs/.gitkeep
*.log

# deployment
proof_backups

